/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v25-latin-italic.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  font-family: "Montserrat";
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

footer {
  line-height: 1.6;
}

.section {
  margin: 0 auto;
  padding: 5rem 2rem;
}

ul {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  max-width: 100%;
  margin: 0 3.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.header_nav {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.header_nav a.icon {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.header_nav li {
  display: inline-flex;
  margin: 0 2.5rem;
  padding: 10px;
}

.header_nav a {
  color: #527F85;
}

.section__footer-block,
.footer__text {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.footer__text-size {
  padding: 0.5rem 1rem;
}

.footer__button {
  text-align: center;
  position: relative;
  display: grid;
  align-items: center;
  padding: 0.5rem;
  margin: auto;
}

.footer__button-button {
  border: #21768A solid 2px;
  border-radius: 8px;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  margin: auto 1rem;
  padding: 1.2rem 2.5rem;
}

.footer__button-button a {
  color: #21768A;
}

.section__footer-social {
  display: flex;
  margin: 0.5rem 3.5rem 3.5rem;
  padding: 0.5rem;
  flex-direction: row-reverse;
  font-size: 1.5rem;
}

.section__footer-social ul {
  display: flex;
}

.section__footer-social li {
  margin: auto;
  padding: 1rem;
}

.social__logo img {
  width: 44px;
  margin: auto;
}

.banner__images {
  position: relative;
  width: 100%;
}

.banner__images-title {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 70%;
  text-align: center;
  font-size: 4.2rem;
}

.banner__images-secondary-title {
  text-align: center;
  font-size: 4.2rem;
}

.home__button {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 85%;
  border: #21768A solid 2px;
  border-radius: 8px;
  background-color: transparent;
  text-align: center;
  margin: auto 1rem;
  padding: 1.2rem 2.5rem;
  font-size: 1.5rem;
}

.home__button a {
  color: white;
}

.home__news,
.home__news-preview p {
  margin: 2.5rem;
  padding: 2.5rem;
  font-size: 2rem;
}

.home__news-title {
  font-size: 3.5rem;
}

.contact__us {
  font-size: 2.4rem;
}

.contact__us-organization {
  text-align: center;
  padding: 5rem 0;
}

.contact__us-text {
  font-size: 1.8rem;
}

.contact__us-locations,
.contact_names {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact__us-locations-text {
  display: grid;
  margin: auto;
}

.contact__us-locations-block {
  margin: 5rem;
  text-align: left;
}

.contact__us-locations-title {
  font-size: 2rem;
}

.contact__us-locations-paragraph {
  font-size: 1.5rem;
}

.contact__us-locations-map {
  margin: auto;
  position: relative;
}

.section__box {
  box-sizing: unset;
}

#contact h3 {
  margin-left: 1rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.contact {
  display: grid;
  border: solid 0.1rem #21768A;
  margin: auto;
  padding: 5rem;
  align-items: center;
  box-sizing: unset;
}

.contact_form,
.contact__form-button {
  margin: 1rem;
}
.contact_form button,
.contact__form-button button {
  padding: 0.9rem 3.3rem;
  margin: auto;
}

.contact__form-org input, textarea {
  width: 381px;
}

#button__contact {
  border: 2px solid;
  background-color: #21768A;
  color: #FFFFFF;
  border-radius: 8px;
}

.contact__height input {
  height: 28px;
}

.contact__width input input {
  width: 180px;
}

.contact__placeholder::placeholder {
  text-indent: 10px;
  font-style: italic;
  padding: 10px;
  margin: 10px;
}

.services__section-div {
  max-width: 85%;
  margin: 1rem auto;
}

.services__section-img {
  margin: auto;
  height: auto;
}

.services__section-text p {
  display: block;
  font-size: 2rem;
  width: 60rem;
  margin: auto;
  padding: 5rem;
  text-align: justify;
}

.content__block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content__block-notes {
  padding: 15rem;
}

.content__block-title {
  font-size: 2.5rem;
}

.content__block-text {
  font-size: 1.5rem;
}

.who__history-title {
  padding: 3rem 0;
  font-size: 3.4rem;
  text-align: center;
}

.who__history-text p {
  max-width: 80%;
  margin: auto;
  text-align: center;
  font-size: 2.4rem;
}

.who__staff {
  padding: 3rem 10rem;
}

.who__staff-title {
  padding-bottom: 4rem;
  font-size: 3.6rem;
  text-align: left;
}

.who__staff-block {
  display: flex;
  flex-wrap: wrap;
}

.who__staff-staff {
  margin: auto;
}

.who__staff-staff-title {
  font-size: 4rem;
  padding: 2rem;
}

.who__staff-staff-text {
  font-size: 3rem;
  padding: 0 2rem 2rem;
}

.sponsors__block {
  display: flex;
  flex-wrap: wrap;
}

.sponsors__block-image {
  margin: auto;
  padding: 0 2rem 2rem;
}

@media screen and (max-width: 512px) {
  .header_titleLogo {
    max-width: 75px;
  }
  .header_nav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .contact__us-locations-map iframe {
    max-width: 400px;
  }
  .contact {
    font-size: 1.2rem;
  }
  .section__footer-block {
    font-size: 1rem;
  }
  .footer__logo-img {
    width: 80px;
  }
  .footer__button-button {
    font-size: 1.2rem;
  }
  .footer__text-size {
    margin-left: 0;
  }
}
@media screen and (min-width: 513px) {
  .header_titleLogo {
    width: 125px;
  }
  .contact {
    width: 400px;
    font-size: 1.6rem;
  }
  .section__footer-block {
    font-size: 1.5rem;
    margin-right: 3.5rem;
  }
  .footer__logo-img {
    width: 108px;
  }
}
@media screen and (max-width: 768px) {
  .banner__images-title {
    top: 50%;
  }
  .home__image {
    height: 320px;
    width: 100%;
    margin: auto;
  }
  .home__news-preview {
    margin: auto;
    text-align: justify;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*
    */
  }
  .services__section-div {
    display: block;
  }
  .services__section-text p {
    font-size: 1.5rem;
    text-align: center;
    display: grid;
    align-items: center;
  }
  .services__section-img {
    display: grid;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  #myLinks {
    display: flex;
    position: absolute;
    right: 0;
  }
  .home__news-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15rem;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }
  .home__image {
    width: 100%;
    margin: auto;
    height: 640px;
  }
  .banner__images-title {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 70%;
  }
  .services__section-div {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 513px) and (max-width: 820px) {
  .header_nav a.icon {
    display: block;
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 24px;
  }
}
@media screen and (max-width: 820px) {
  .header_nav {
    overflow: hidden;
    position: relative;
  }
  .header_nav #myLinks {
    display: none;
    flex-direction: column;
    position: relative;
    align-items: start;
  }
  .header_nav a {
    color: #78C2E9;
    padding: 14px 16px;
    font-size: 17px;
    display: block;
  }
  .header_nav a:hover {
    font-weight: bolder;
  }
}

/*# sourceMappingURL=style.css.map */
