/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/montserrat-v25-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v25-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v25-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Global values */
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%
}

* {
  margin: 0;
  padding: 0;
}

footer {
  line-height: 1.6;
}

.section {
  margin: 0 auto;
  padding: 5rem 2rem;
}

/* Header setup */
.header {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.header_titleLogo {
  width: 125px;
}

/* .header_nav ul {
  justify-content: space-between;
  flex-wrap: wrap;
}
*/

.header_nav li {
  list-style: none;
  display: inline-flex;
  margin: 0 2.5rem;
  padding: 10px;
}

.header_nav a {
  color: #527F85;
  text-decoration: none;
}

/* End Header setup */

/* Banner setup */
.banner__images {
  width: 100%;
}

.banner__images-title {
  text-align: center;
  font-size: 4.2rem;
}
/* End Banner setup */

/* Home Page setup */
.home__image {
  height: 640px;
  width: 100%;
  margin: auto;
}

.home__button {
  display: grid;
  padding: 1rem;
  margin: 2rem auto;
}

.home__button a {
  text-decoration: none;
}

.home__news {
  margin: 2.5rem;
  padding: 2.5rem;
}

.home__news-title {
  font-size: 3.5rem;
}

.home__news-preview {
  /*
  margin: auto;
  text-align: justify;
  position: relative;
  align-items: center;
  */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home__news-preview p {
  margin: 2.5rem;
  padding: 2.5rem;
  font-size: 2.0rem;
}
/* End Page setup */

/* Services page Setup */
.services__section {
}

.services__section-div {
  max-width: 85%;
  justify-content: space-around;
  margin: 1rem auto;
  display: flex;
}

.services__section-img {
  margin: auto;
  height: auto;
}

.services__section-text p {
  display: block;
  font-size: 2rem;
  width: 60rem;
  margin: 5rem;
  padding: 5rem;
  text-align: justify;
}
/* Services page Setup End*/

/* Content page Setup */
.content__block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content__block-notes {
  padding: 15rem;
}

.content__block-title {
  font-size: 2.5rem;
}

.content__block-text {
  font-size: 1.5rem;
}
/* Content page Setup End*/

/* Who page Setup*/
.who__history {
}

.who__history-title {
  padding: 3rem 0;
  font-size: 3.4rem;
  text-align: center;
}

.who__history-text p {
  max-width: 80%;
  margin: auto;
  text-align: center;
  font-size: 2.4rem;
}

.who__staff {
  padding: 3rem 10rem;
}

.who__staff-title {
  padding-bottom: 4rem;
  font-size: 3.6rem;
  text-align: left;
}

.who__staff-block {
  display: flex;
  flex-wrap: wrap;
}

.who__staff-staff {
  margin: auto;
}

.who__staff-staff-title {
  font-size: 4rem;
  padding: 2rem;
}

.who__staff-staff-text {
  font-size: 3rem;
  padding: 0 2rem 2rem;
}

.sponsors__block {
  display: flex;
  flex-wrap: wrap;
}

.sponsors__block-image {
  margin: auto;
  padding: 0 2rem 2rem;
}
/* Who page Setup End*/

.contact__us {
  font-size: 2.4rem;
}

.contact__us-organization {
  text-align: center;
  padding: 5rem 0;
}

.contact__us-text {
  font-size: 1.8rem;
}

.contact__us-locations {
  display: flex;
  flex-wrap: wrap;
}

.contact__us-locations-text {
  display: grid;
  margin: auto;
}

.contact__us-locations-block {
  margin: 5rem;
  text-align: left;
}

.contact__us-locations-title {
  font-size: 2rem;
}

.contact__us-locations-paragraph {
  font-size: 1.5rem;
}

.contact__us-locations-map {
  margin: auto;
  position: relative;
}

#contact h3 {
  margin-bottom: 2.5rem;
}

.contact {
  display: grid;
  border: solid 0.1rem #21768A;
  letter-spacing: -1.5%;
  width: 400px;
  margin: auto;
  padding: 5rem;
  align-items: center;
  font-size: 1.6rem;
}

.contact_form {
  margin: 1rem;
}

.contact__form-org input, textarea {
  width: 381px;
}

.contact__form-button {
  padding: 1rem;
}

.contact__form-button button {
  padding: 0.9rem 3.3rem;
  margin: auto;
}

#button__contact {
  border: 2px solid;
  background-color: #21768A;
  color: #FFFFFF;
  border-radius: 8px;
}

.contact__height input {
  height: 28px;
}

.contact__placeholder::placeholder {
  text-indent: 10px;
  font-style: italic;
  padding: 10px;
  margin: 10px;
}

.contact h3 {
  align-items: left;
  margin-left: 1rem;
  font-weight: 700;
}

.contact_names {
  display: flex;
  justify-content: space-between;
}

.footer__contact {
  text-decoration: none;
}

.section__footer-block {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-right: 3.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.section__footer-block ul {
  list-style: none;
}

.footer__block {
  display: flex;
}

.footer__text-size {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
}

.footer__logo-img {
  width: 108px;
}

.footer__text {
  display: flex;
}

.footer__button {
  text-align: center;
  position: relative;
  display: grid;
  align-items: center;
  padding: 0.5rem;
  margin: auto;
  font-size: 1.5rem;
}

.footer__button-button {
  border: #21768A solid 2px;
  border-radius: 8px;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  margin: auto 1rem;
  padding: 1.2rem 2.5rem;
  font-size: 1.5rem;
}


.footer__button-button a {
  color: #21768A;
  text-decoration: none;
}

.section__footer-social {
  display: flex;
  margin: 0.5rem 3.5rem 3.5rem;
  padding: 0.5rem;
  flex-direction: row-reverse;
  font-size: 1.5rem;
}

.section__footer-social ul {
  list-style: none;
  display: flex;
}

.section__footer-social li {
  margin: auto;
  padding: 1rem;
}

.social__logo img {
  width: 44px;
  margin: auto;
}
