@media screen and (min-width: 513px) {
  .header_titleLogo {
    width: 125px;
  }

  .contact {
    width: 400px;
    font-size: 1.6rem;
  }

  .section__footer-block {
    font-size: 1.5rem;
    margin-right: 3.5rem;
  }

  .footer__logo-img {
    width: 108px;
  }

  .footer__button-button {
    font-size: 1.5rem;
  }
}
